html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: system-ui, sans-serif;
    background: #f8f9fa;
    color: #222;
}

.container {
    flex: 1;
    padding: 20px;
}
.header {
    background: #2a7ae2;
    color: white;
    padding: 20px;
    text-align: center;
}

.tittel {
    background-color: #e3e3e3;
    padding: 20px;
    text-align: center;
    color: #222;
}

.btn {
    background-color: #2a7ae2;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.login-container {
    max-width: auto;
    margin: 50px auto;
    padding: 20px;
    background: rgb(255, 255, 255);
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.footer {
    background: #eee;
    text-align: center; 
    padding: 20px;
    margin-top: auto; 
}
